extends layout

block content
  h1 C24U
  p.lead Cyber Command Control Center
  hr
  #container.col
    style.
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }

  .mx-auto(style="height: 600px; width: 500px; background: url('images/c2-4u.png')")
    ul#messages
  form.mx-auto(action='' style="width:500px")
    input#m(autocomplete='off' style="width:90%")
    button Send
